{% extends "base.html" %}
{% load static %}












{% block 'filtro_veiculos' %}
<fieldset>
    <legend>Veículos</legend>
    <div class="wrapper v">
      <input type="checkbox" name="carros" id="carros">
      <p>Carros</p>
    </div>
    <div class="wrapper v">
      <input type="checkbox" name="motos" id="motos">
      <p>Motos</p>
    </div>
    <div class="wrapper v">
      <input type="checkbox" name="vans" id="vans" disabled>
      <p>Vans</p>
    </div>
    <div class="wrapper v">
      <input type="checkbox" name="caminhoes" id="caminhoes" disabled>
      <p>Caminhões</p>
    </div>
    <div class="wrapper v">
      <input type="checkbox" name="onibus" id="onibus" disabled>
      <p>Onibus</p>
    </div>
  </fieldset>

</div>
{% endblock %}










{% block 'data' %}
<div class="container">
    <div class="container-filtros">
      <div class="titulo-filtro">
        <img src="{% static 'imagens/icone-filtro.png' %}" alt="icone filtro">
        <h3>Filtros</h3>
      </div>
<fieldset>
    <legend>Data/Hora</legend>
    <div class="container-input">
      <div class="wrapper dataHora">
        <img src="{% static 'imagens/icone-calendario.png' %}" alt="icone calendario">
        <label for="data_form">Data</label>
      </div>
<select class="form-select" aria-label="Default select example" id="data_form" name="data_form"
style="width: fit-content;" onclick="atualizar_url1(); atualizar_horarios()">
<script>

    fetch('requisicao').then(response => response.json()).then( //http://localhost:8000/grafico/density-map/requisicao
        data => { 
            const select_dia = document.getElementById('data_form');
            data.dados.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item;      
                        option.textContent = item; 
                        select_dia.appendChild(option); 
                    });
                }).catch(
                    error => console.error('Erro:', error));
    
    
    </script>
</select>
</div>
{% endblock%}
















{% block 'filtro_data' %}
<div class="container-input">
    <div class="wrapper data-hora">
      <img src="{% static 'imagens/icone-relogio.png' %}" alt="icone relogio">
      <label for="hour_form">Hora</label>
    </div>
<select class="form-select" aria-label="Default select example" id="hour_form" name="hour_form"
style="width: fit-content;" onclick="atualizar_url1()" onload="selecionarHora()">
<script>
    document.addEventListener("DOMContentLoaded", evento =>{
        let ajaxExecuted = false;
        const horas = {'horas':document.getElementById('hour_form').value}
        const data= document.getElementById('data_form').value; 

      
        console.log(horas);
        const urlParams = new URLSearchParams(window.location.search);


        const param2 = urlParams.get('param2');
    fetch(`requisicao/horarios?param1=${data}`)
    .then(response => {
        if (!response.ok) {
            throw new Error(`Erro na rede: ${response.statusText}`);
        }
        return response.json();
    })
    .then(data => { 
        
        select_hora = document.getElementById('hour_form');
        
        data.horas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            select_hora.appendChild(option); 
        });
        
      
        const hora = param2
        document.getElementById('hour_form').value = param2
       
          
        const data1= document.getElementById('data_form').value; 
        const url = `/grafico/density-map/?param1=${data1}&param2=${hora}`;
        

    })
    .catch(error => console.error('Erro:', error));
    
});


    function atualizar_horarios(){
        const urlParams = new URLSearchParams(window.location.search);
        const param2Value = urlParams.get("param2");
        const data_formulario = document.getElementById('data_form').value;
        fetch(`requisicao/horarios?param1=${data_formulario}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro na rede: ${response.statusText}`);
            }
            return response.json();
        })
    .then(data => { 
       
        select_hora = document.getElementById('hour_form');
        while (select_hora.firstChild){
            select_hora.removeChild(select_hora.firstChild);
        }
        data.horas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            select_hora.appendChild(option); 
        });
        document.getElementById('hour_form').value = param2Value;

    })}

      
        
        
    function atualizar_url1(){
        
   $('#hour_form , #data_form').click(function() {
    const dado = document.getElementById('data_form').value;  
    const hora = document.getElementById('hour_form').value;

    // Obtém a URL atual
    const urlAtual = new URL(window.location.href);

    // Atualiza ou adiciona os parâmetros na URL
    urlAtual.searchParams.set('param1', dado);
    urlAtual.searchParams.set('param2', hora);

    // Faz a requisição Ajax
    $.ajax({
        url: `/grafico/density-map/?${urlAtual.searchParams.toString()}`,
        type: 'GET',
        success: function(response) {
            // Atualiza a URL no navegador sem recarregar a página
            window.history.pushState({path: urlAtual.toString()}, '', urlAtual.toString());
        },
        error: function(xhr, status, error) {
            console.error("Erro:", error);
        }
    });
});

}
        function atualizarMapaComParametros(){
            if (!document.getElementById("carros").checked &&
            !document.getElementById("motos").checked&&
            !document.getElementById("vans").checked &&
            !document.getElementById("caminhoes").checked &&
            !document.getElementById("onibus").checked){
                alert("Selecione ao menos 1 tipo de veículo")
            }  else {


            const data = document.getElementById('data_form').value;
            const hora = document.getElementById('hour_form').value;
            let filtros = "";
if (document.getElementById("carros").checked){
    filtros += document.getElementById("carros").id + '%20'; 
}
if (document.getElementById("motos").checked){
    filtros += document.getElementById("motos").id + '%20';
}
if (document.getElementById("vans").checked){
    filtros += document.getElementById("vans").id + '%20';
}
if (document.getElementById("caminhoes").checked){
    filtros += document.getElementById("caminhoes").id + '%20';
}
if (document.getElementById("onibus").checked){
    filtros += document.getElementById("onibus").id + '%20';
}


filtros = filtros.trim(); // Remove o espaço ou '%20' extra no final, se houver 
const elemento = document.getElementById('ruas');
const ruas = Array.from(elemento.selectedOptions).map(option => option.value)
if(!ruas || ruas.length === 0){
    alert('Selecione pelo menos 1 rua')
}
else{
const url = `http://localhost:8000/grafico/density-map/?param1=${data}&param2=${hora}&param3=${filtros}&ruas=${ruas}`;
window.location.href = url;
}

// let arraysplit = filtros.split("%20");
// console.log(arraysplit)
// arraysplit.forEach(element => {
//     if (element) { 
//         switch (element) {
//             case "carros":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "motos":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "vans":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "caminhoes":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "onibus":
//                 document.getElementById(element).checked = true;
//                 break;
//             default:
//                 break;
//         }
//     }
// });
        }}
    </script>

</select>
</div>
</fieldset>
{% endblock %}

























{% block 'filtro_rua' %}
<script>
    function mudarRuas(){
        var urlAtual = window.location.href
        window.location.href = urlAtual
    }
</script>
<!-- <select name="ruas" id="ruas" class="form-control" multiple style="display: none;" onclick="atualizar_rua()">

 <script>
      

    
    // const elemento = document.getElementById('ruas');
    // const printar = Array.from(elemento.selectedOptions).map(option => option.value)
  
    

 
   
    const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams)


    const param1 = urlParams.get('param1');



    fetch(`/grafico/density-map/ruas?param1=${param1}`).then(response => response.json()).then(dados =>{
        select_ruas = document.getElementById('ruas')
        dados.ruas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            option.selected = true;
            select_ruas.appendChild(option); 
        });
    })
    function atualizar_rua(){
        const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams)


    const param1 = urlParams.get('param1');



    fetch(`/grafico/density-map/ruas?param1=${param1}`).then(response => response.json()).then(dados =>{
        select_ruas = document.getElementById('ruas')
        dados.ruas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            option.selected = true;
            select_ruas.appendChild(option); 
        });
    })}
 </script>

</select> -->
<fieldset>
  <legend>Ruas</legend>
  <select name="ruas" id="ruas" class="form-control" multiple style="display: none;" onclick="">
</select>
<button class="botao" onclick="mudarRuas()">Atualizar ruas</button>

</fieldset>



<script>
      

    
    // const elemento = document.getElementById('ruas');
    // const printar = Array.from(elemento.selectedOptions).map(option => option.value)
  
    

 
   
    const urlParams = new URLSearchParams(window.location.search);
    


    const param1 = urlParams.get('param1');



    fetch(`/grafico/density-map/ruas?param1=${param1}`).then(response => response.json()).then(dados =>{
        select_ruas = document.getElementById('ruas')
        dados.ruas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            option.selected = true;
            select_ruas.appendChild(option); 
        });
    })
    function atualizar_rua(){
        const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams)


    const param1 = urlParams.get('param1');



    fetch(`/grafico/density-map/ruas?param1=${param1}`).then(response => response.json()).then(dados =>{
        select_ruas = document.getElementById('ruas')
        dados.ruas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            option.selected = true;
            select_ruas.appendChild(option); 
        });
    })}
 </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% endblock %}














{% block 'colorConfiguration' %}
<script>
     document.addEventListener("DOMContentLoaded", function () {
      const url_atual = window.location.href;
      if (url_atual.includes("param1")) {
        const urlParams = new URLSearchParams(window.location.search);

        const param1Value = urlParams.get("param1");
        const param2Value = urlParams.get("param2");
        let param3value = urlParams.get("param3");
        if (param3value) {
          param3value = param3value.trim()
          let arraysplit = param3value.split(" ");
          arraysplit.forEach(element => {
            if (element) {
              switch (element) {
                case "carros":
                  document.getElementById(element).checked = true;
                  break;
                case "motos":
                  document.getElementById(element).checked = true;
                  break;
                case "vans":
                  document.getElementById(element).checked = true;
                  break;
                case "caminhoes":
                  document.getElementById(element).checked = true;
                  break;
                case "onibus":
                  document.getElementById(element).checked = true;
                  break;
                default:
                  break;
              }
            }
          });
        }

        document.getElementById('data_form').value = param1Value;
        atualizar_horarios()
        document.getElementById('hour_form').value = param2Value;
      }
    })
</script>
<script>
    const url_atual = window.location.href
    if (!url_atual.includes("param1") || !url_atual.includes("param2") || !url_atual.includes("param3")){ //|| !url_atual.includes("ruas")) {
    fetch(`/grafico/density-map/ruas?param1=01/12/2024`).then(response => response.json()).then( dado => { 
        const dados =Array.isArray(dado.ruas) ? dado.ruas : [dado.ruas];
        
      window.location.replace(`http://localhost:8000/grafico/density-map/?param1=01/12/2024&param2=00:00&param3=carros%20motos%20&rua=${dados}`);
    }
    )
    }
  </script>
      <script>
        fetch('{% static "cores.json" %}').then(response => response.json()).then(data => {
       
        let vermelho = data.vermelho;
        let laranja = data.laranja;
        let amarelo = data.amarelo;
        let azul = data.azul;
        let h2RED = document.getElementById('vermelho');
        let h2ORANGE = document.getElementById('laranja');
        let h2YELLOW = document.getElementById('amarelo');
        let h2BLUE = document.getElementById('azul');
        let h2GREEN = document.getElementById('verde');
        h2RED.value = vermelho;
        h2ORANGE.value = laranja;
        h2YELLOW.value = amarelo;
        h2BLUE.value = azul;
        h2GREEN.value = azul - 1;
        })
      </script>
<fieldset>
    <legend>Configuração Cores</legend>
    <div class="configuracao">
      <div class="container-cores">
        <div class="container-input">
          <label for="vermelho">Vermelho:</label>
          <div class="wrapper">
            <img src="{% static 'imagens/Ellipse-vermelho.png' %}" alt="">
            <input type="text" id="vermelho" name="vermelho">
          </div>
          
        </div>
        <div class="container-input">
          <label for="laranja">Laranja:</label>
          <div class="wrapper">
            <img src="{% static 'imagens/Ellipse-laranja.png' %}" alt="">
            <input type="text" id="laranja" name="laranja">
          </div>
        </div>
        <div class="container-input">
          <label for="amarelo">Amarelo:</label>
          <div class="wrapper">
            <img src="{% static 'imagens/Ellipse-amarelo.png' %}" alt="">
            <input type="text" id="amarelo" name="amarelo">
          </div>
        </div>
        <div class="container-input">
          <label for="azul">Azul:</label>
          <div class="wrapper">
            <img src="{% static 'imagens/Ellipse-azul.png' %}" alt="">
            <input type="text" id="azul" name="azul">
          </div>
        </div>
        <div class="container-input">
          <label for="verde">Verde:</label>
          <div class="wrapper">
            <img src="{% static 'imagens/Ellipse-verde.png' %}" alt="">
            <input type="text" id="verde" name="verde" disabled value="Verde < Azul">
          </div>
        </div>
      </div>
      
      <button class="botao" onclick="atualizarCores()">Atualizar cores</button>
    </div>
  </fieldset>

<script>
    function atualizarCores(){
        
    if (document.getElementById('vermelho').value &&
     document.getElementById('laranja').value && 
     document.getElementById('amarelo').value && 
     document.getElementById('azul').value
     )
     {
        let urlParams = new URLSearchParams(window.location.search);
        let atualUrl = window.location.href
        dados = document.getElementById('vermelho').value + "_" + document.getElementById('laranja').value  + "_" + document.getElementById('amarelo').value + "_" + document.getElementById('azul').value;
        let urlDestino = ''
        let novaUrl = new URL(atualUrl);
        if (novaUrl.search.includes('param4')) {
        urlParams.set("param4", decodeURIComponent(dados)); 
        novaUrl.search = urlParams.toString(); 
        urlDestino = novaUrl.toString(); 
        

        }else{
        urlDestino = atualUrl+`&param4=${dados}`
        
       
        }
       
        console.log(urlDestino)
        
        
        window.location.href = urlDestino
     }else{
        alert("Preencha todos os campos")
     }
    }
</script>


{% endblock %}














{% block 'dashboard1' %}
   

{{ grafico_html|safe }}


{% endblock %}
