{% extends "base.html" %}

{% block 'forms' %}

<script>

fetch('requisicao').then(response => response.json()).then( //http://localhost:8000/grafico/density-map/requisicao
    data => { 
        const select_dia = document.getElementById('data_form');
        data.dados.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item;      
                    option.textContent = item; 
                    select_dia.appendChild(option); 
                });
            }).catch(
                error => console.error('Erro:', error));


</script>

{% endblock %}

{% block 'hours_form' %}


<script>
    document.addEventListener("DOMContentLoaded", evento =>{
        let ajaxExecuted = false;
        const horas = {'horas':document.getElementById('hour_form').value}
        const data= document.getElementById('data_form').value; 

      
        console.log(horas);
        const urlParams = new URLSearchParams(window.location.search);


        const param2 = urlParams.get('param2');
    fetch(`requisicao/horarios?param1=${data}`)
    .then(response => {
        if (!response.ok) {
            throw new Error(`Erro na rede: ${response.statusText}`);
        }
        return response.json();
    })
    .then(data => { 
        
        select_hora = document.getElementById('hour_form');
        
        data.horas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            select_hora.appendChild(option); 
        });
        
      
        const hora = param2
        document.getElementById('hour_form').value = param2
       
          
        const data1= document.getElementById('data_form').value; 
        const url = `/grafico/density-map/?param1=${data1}&param2=${hora}`;
        

    })
    .catch(error => console.error('Erro:', error));
    
});


    function atualizar_horarios(){
        const urlParams = new URLSearchParams(window.location.search);
        const param2Value = urlParams.get("param2");
        const data_formulario = document.getElementById('data_form').value;
        fetch(`requisicao/horarios?param1=${data_formulario}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro na rede: ${response.statusText}`);
            }
            return response.json();
        })
    .then(data => { 
       
        select_hora = document.getElementById('hour_form');
        while (select_hora.firstChild){
            select_hora.removeChild(select_hora.firstChild);
        }
        data.horas.forEach(item => {
            const option = document.createElement('option');
            option.value = item;      
            option.textContent = item; 
            select_hora.appendChild(option); 
        });
        document.getElementById('hour_form').value = param2Value;

    })}

      
        
        
    function atualizar_url1(){
        
    $('#hour_form , #data_form').click(function() {
                const dado = document.getElementById('data_form').value;  
                const hora = document.getElementById('hour_form').value;
              
                const url = `/grafico/density-map/?param1=${dado}&param2=${hora}`  
    
                $.ajax({
                    url: url,
                    type: 'GET',
                 
                    success: function(response) {
                        window.history.pushState({path : url},'',url)
                    },
                    error: function(xhr, status, error) {
                     
                        console.error("Erro:", error);
                    }
                });
            });
    
        }
        function atualizarMapaComParametros(){
            if (!document.getElementById("carros").checked &&
            !document.getElementById("motos").checked&&
            !document.getElementById("vans").checked &&
            !document.getElementById("caminhoes").checked &&
            !document.getElementById("onibus").checked){
                alert("Selecione ao menos 1 tipo de veículo")
            }  else {


            const data = document.getElementById('data_form').value;
            const hora = document.getElementById('hour_form').value;
            let filtros = "";
if (document.getElementById("carros").checked){
    filtros += document.getElementById("carros").id + '%20'; 
}
if (document.getElementById("motos").checked){
    filtros += document.getElementById("motos").id + '%20';
}
if (document.getElementById("vans").checked){
    filtros += document.getElementById("vans").id + '%20';
}
if (document.getElementById("caminhoes").checked){
    filtros += document.getElementById("caminhoes").id + '%20';
}
if (document.getElementById("onibus").checked){
    filtros += document.getElementById("onibus").id + '%20';
}


filtros = filtros.trim(); // Remove o espaço ou '%20' extra no final, se houver

// Criação da URL
const url = `http://localhost:8000/grafico/density-map/?param1=${data}&param2=${hora}&param3=${filtros}`;
window.location.href = url;


// let arraysplit = filtros.split("%20");
// console.log(arraysplit)
// arraysplit.forEach(element => {
//     if (element) { 
//         switch (element) {
//             case "carros":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "motos":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "vans":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "caminhoes":
//                 document.getElementById(element).checked = true;
//                 break;
//             case "onibus":
//                 document.getElementById(element).checked = true;
//                 break;
//             default:
//                 break;
//         }
//     }
// });
        }}
    </script>

{% endblock %}


{% block 'colorConfiguration' %}

<script>
    function atualizarCores(){
        
    if (document.getElementById('vermelho').value &&
     document.getElementById('laranja').value && 
     document.getElementById('amarelo').value && 
     document.getElementById('azul').value
     )
     {
        let urlParams = new URLSearchParams(window.location.search);
        let atualUrl = window.location.href
        dados = document.getElementById('vermelho').value + "_" + document.getElementById('laranja').value  + "_" + document.getElementById('amarelo').value + "_" + document.getElementById('azul').value;
        let urlDestino = ''
        let novaUrl = new URL(atualUrl);
        if (novaUrl.search.includes('param4')) {
        urlParams.set("param4", decodeURIComponent(dados)); 
        novaUrl.search = urlParams.toString(); 
        urlDestino = novaUrl.toString(); 
        

        }else{
        urlDestino = atualUrl+`&param4=${dados}`
        
       
        }
       
        console.log(urlDestino)
        
        
        window.location.href = urlDestino
     }else{
        alert("Preencha todos os campos")
     }
    }
</script>


{% endblock %}


{% block 'dashboard1' %}
   

{{ grafico_html|safe }}


{% endblock %}
